<% provide(:title, 'All users') %>
<h1>Your Friends</h1>

<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Friends</h3>
        </div>
        <div class="panel-body users">
          <%= render @friends %>
          <%= will_paginate @friends %>
        </div>
      </div>

<h1> Find Friends </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Users</h3>
  </div>
  <div class="panel-body users">
    <%= render @users %>
    <%= will_paginate @users %>
  </div>
</div>

<h1> Friend Requests </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Received</h3>
  </div>
  <div class="panel-body users">
  
    <% current_user.received_friendships.where(accepted: false).each do |request| %>
    <li>
        <span class="pull-left vcenter"><%= request.user.name %></span>
      <div class="pull-right">
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put", class: "btn btn-success" %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete, class: "btn btn-danger" %>
      </div>    
    </li>
  <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sent</h3>
  </div>
  <div class="panel-body users">
    <% current_user.friendships.where(accepted: false).each do |request| %>
    <li>
        <span class="pull-left vcenter"><%= request.friend.name %></span>
      <div class="pull-right">
        <%= button_to "Cancel", friendship_path(id: request.id), method: :delete, class: "btn btn-danger" %>
      </div>    
    </li>
  <% end %>
  </div>
</div>
