var paused = true;
var onBreak = false;
var time = 0; // time elapsed
var pomodoros = 0;

<% if Rails.env.development? %>
var pomodoroLength = 6; // pomodoro length def 1500
var longBreak = 14; // 20 minutes * 60s (optimize) 
var shortBreak = 4; // 5 mins * 60s (optimize)
<% else %>
var pomodoroLength = <%= @work_session.length %>; // pomodoro length def 1500
var longBreak = 1200; // 20 minutes * 60s (optimize) 
var shortBreak = 300; // 5 mins * 60s (optimize)
<% end %>

var total = pomodoroLength; // total time

$(function() {
	//$("#sessionlist").html("<%= j render current_user.work_sessions %>");
	
	$("#new_work_session").hide();
	$("#timer_controls").show();
	$("#deleteform").html('<%= button_to "Delete", @work_session, method: :delete, class: "btn btn-danger timer-control" %>');


  console.log("Desired time:" + '<%= @work_session.length %>')

	startTimer();

	//$("#status").html("<%= @work_session.inspect %> suck!");

	
	//pomodoroLength = minutesLength * 60 + secondsLength;
	//resetTimer(pomodoroLength);

	//$("#start").unbind().submit();
	$("#pause").unbind().submit();
	$("#reset").unbind().submit();

    $("#pause").click(function() {
      if (paused) { // resuming
      	startTimer();
      	$("#pause").html("Pause");
      } else { // now pause
      	paused = true;
      	$("#pause").html("Resume");
      }
    });
});

function showSaveForm() {
	$("#timer_controls").hide();

  paused = true;

	$("#completeform").html('\
		<%= form_for @work_session, method: :patch do |f| %>\
		<%= f.hidden_field :state, value: :complete %>\
		<button id="complete" class="btn btn-success timer-control">Complete</button>\
		<% end %>');

}


function tick() {  // make sure there aren't any race conditions here or w/ever
console.log(total + " total / time elapsed: " + time)
  if (!paused) {
    time++;
    if (time == total) { // Done!
      document.getElementById('buzz_audio').play();
      updateTimer();
      paused = true;
      //$("#timer").blink();
      showSaveForm();
      pomodoros++;

      // onBreak = !onBreak;
      // if (onBreak) {
      //   if (pomodoros%4 == 0) {
      //     submitSession();
      //     resetTimer(longBreak);
      //     //alert("Take a long break!");
      //   } else {
          
      //    resetTimer(shortBreak);
      //     //alert("Take a short break!");
      //   }
      //   startTimer();
      // } else {
      //     resetTimer(pomodoroLength);
      // }
    } else {
      setTimeout(tick, 1000);
      console.log("tick");
      updateTimer();
    }
  }
}



function resetTimer(totalTime) {

  total = totalTime;
  time = 0;
  paused = true;
  updateTimer();
}

function startTimer() {
  if (paused) {
    paused = false;
    setTimeout(tick, 1000);  
  }
}

function updateTimer() {
  $('#minutes').text(Math.floor((total-time)/60));
  $('#seconds').text(pad((total-time)%60));
}

function pad(num) {
  var s = "" + num;
  if (num<10)
    s = "0" + num;
  return s;
}


